body {
  font-size: 15px;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Droid Sans', sans-serif;
}

#site-canvas {
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
}

h4 { margin: 0.5rem 0; }

div {
   padding: 10px;
}

div.sidebar {
  height: 100%;
  background: #eee;
  overflow: auto;
}

div.toolbar {
   width: 250px;
   float: right;
   border-left: 1px solid #ddd;
}

div.explain{
    width: 250px;
    float: left;
    border-right: 1px solid #ddd;
}

div.main{
    margin-left: 270px;
    margin-right: 270px;
    padding: 0;
    width: calc(100% - 560px);
    height: 100%;
}

a       { color: darkblue; }
a:hover { color: rgb(86, 86, 175); }

/*   svg   */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #FFF;
  stroke-width: 1px;

}

.dot:hover {
   stroke: #000;
   stroke-width: 1px;
   opacity: 0.8;
}

.d3-tip {
  line-height: 1.25;
  font-weight: 600;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

#hlteam {
  margin-bottom: 1rem;
}
