[submodule "pelican-plugins"]
      path = pelican-plugins
      url = git://github.com/drewbo/pelican-plugins.git

[submodule "themes/flasky"]
      path = themes/flasky
      url = git://github.com/drewbo/flasky.git
