[submodule "pelican-plugins"]
      path = pelican-plugins
      url = https://github.com/drewbo/pelican-plugins

[submodule "themes/flasky"]
      path = themes/flasky
      url = https://github.com/drewbo/flasky
