body {
  font-size: 18px;
  line-height: 1.4;
  color: #2E343B;
  font-family: 'Roboto', sans-serif;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}
.post {
  max-width: 800px;
  margin: 0 auto;
}

img {
  width: 80%;
  margin-left: 10%;
}

pre {
  overflow: scroll;
}

a, a:visited {
  color: #D43900;
  text-decoration: none;
}

a:hover {
  opacity: 0.64;
}

table {
  margin: 0 auto;
}

hr {
  border: 1px solid #D43900;
  width: 90%;
  opacity: 0.5;
}
