<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">About me</h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-5 text-zinc-400 prose">Hi, I'm Drew! I've worked in software development for over ten years. I've primarily focused on backend tasks like <strong class="text-zinc-200 font-medium">cloud architecture, API development, and data processing</strong>. I'm also happy to write frontend code, React or otherwise, especially for data visualizations. I've  worked on many <strong class="text-zinc-200 font-medium">machine learning and data analysis</strong> projects, particularly those involving satellite imagery. </p>
  <p class="leading-8 text-lg text-pretty mb-5 text-zinc-400 prose">I'm a strong communicator and I've given multiple conference talks. I enjoy mentoring early-career engineers and participating in setting engineering standards across an organization.</p>
  <p class="leading-8 text-lg text-pretty text-zinc-400 prose">I current work at <a class="hover:text-blue-600" href="https://cloud.gov/">Cloud.gov</a>. I previously worked at <a class="hover:text-orange-500" href="https://developmentseed.org/">Development Seed</a> and <a class="hover:text-red-700" href="https://www.capitalone.com/">Capital One</a>.</p>
</section>