---
import IconContainer from "@components/IconContainer.astro";
import Css from "@assets/icons/css.astro";
import Javascript from "@assets/icons/javascript.astro";
import React from "@assets/icons/react.astro";
import Html from "@assets/icons/html.astro";
import Express from "@assets/icons/express.astro";
import Node from "@assets/icons/node.astro";
import Postgresql from "@assets/icons/postgresql.astro";
import Bash from "@assets/icons/bash.astro";
import Git from "@assets/icons/git.astro";
import Docker from "@assets/icons/docker.astro";
import Typescript from "@assets/icons/typescript.astro";
import Python from "@assets/icons/python.astro";
import FastAPI from "@assets/icons/fast-api.astro";
import GraphQL from "@assets/icons/graph-ql.astro";
import Numpy from "@assets/icons/numpy.astro";
import Pytorch from "@assets/icons/pytorch.astro";
import Tensorflow from "@assets/icons/tensorflow.astro";
import D3 from "@assets/icons/d3.astro";
import Terraform from "@assets/icons/terraform.astro";
import Azure from "@assets/icons/azure.astro";
import GoogleCloud from "@assets/icons/google-cloud.astro";
import Aws from "@assets/icons/aws.astro";
import R from "@assets/icons/r.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Skills</h2>
  <hr class="mb-6 border-zinc-600">

  <h3 class="text-xl font-medium mb-4 siz">Frontend</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="HTML">
      <Html size="size-12" />
    </IconContainer>
    <IconContainer name="CSS">
      <Css size="size-12" />
    </IconContainer>
    <IconContainer name="Javascript">
      <Javascript size="size-12" />
    </IconContainer>
    <IconContainer name="Typescript">
      <Typescript size="size-12" />
    </IconContainer>
    <IconContainer name="React">
      <React size="size-12" />
    </IconContainer>
    <IconContainer name="D3">
      <D3 size="size-12" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">Backend</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="Node">
      <Node size="size-12" />
    </IconContainer>
    <IconContainer name="Express">
      <Express size="size-12" />
    </IconContainer>
    <IconContainer name="Python">
      <Python size="size-12" />
    </IconContainer>
    <IconContainer name="PostgreSQL">
      <Postgresql size="size-12" />
    </IconContainer>
    <IconContainer name="FastAPI">
      <FastAPI size="size-12" />
    </IconContainer>
    <IconContainer name="GraphQL">
      <GraphQL size="size-12" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">Cloud</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="AWS">
      <Aws size="size-12" />
    </IconContainer>
    <IconContainer name="GCP">
      <GoogleCloud size="size-12" />
    </IconContainer>
    <IconContainer name="Azure">
      <Azure size="size-12" />
    </IconContainer>
    <IconContainer name="Terraform">
      <Terraform size="size-12" />
    </IconContainer>

  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">Machine Learning & Data Analysis</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="PyTorch">
      <Pytorch size="size-12" />
    </IconContainer>
    <IconContainer name="TensorFlow">
      <Tensorflow size="size-12" />
    </IconContainer>
    <IconContainer name="R">
      <R size="size-12" />
    </IconContainer>
    <IconContainer name="NumPy">
      <Numpy size="size-12" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">Tools</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="Bash">
      <Bash size="size-12" />
    </IconContainer>
    <IconContainer name="Git">
      <Git size="size-12" />
    </IconContainer>
    <IconContainer name="Docker">
      <Docker size="size-12" />
    </IconContainer>
  </div>
</section>