<nav class="header">
  <a href="/">drewbo.com</a>
  <a class="me" href="https://github.com/drewbo" target="_blank">github</a>
  <a class="me" href="https://twitter.com/drewbo19" target="_blank">twitter</a>
</nav>
